# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# ジョブのエラーは保持する必要がないので
JobScript.e*
# プロセスごとのプロファイルはほじする必要がないので
profile.*
# コンパイルするだけで生成することができる実行ファイルは不要なので
*.x
# エディタの一時ファイルなどは追跡する必要がないので
.idea/
*swp

.cache/
.config
.ipynb_checkpoints
.jupyter
.local
.npm
draft.ipynb
tmp*
workspace.code-workspace
__pycache__
root_jupyter/lab/workspaces
root_jupyter/migrated

extra-p_docker/share/*
*.xlsx
