[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
jupyterlab = "*"
japanize-matplotlib = "*"
pandas = "*"
sklearn = "*"
numpy = "*"
matplotlib = "*"
streamlit = "*"
numexpr = "*"
yapf = "*"
autopep8 = "*"
jupyterlab-code-formatter = "*"
plotly = "*"
black = "*"
importlib-resources = "*"
jupyterlab-notifications = "*"
jupyterlab-git = "*"
jupyterlab-lsp = "*"
pydotplus = "*"
flake8 = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
