[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
jupyterlab = "*"
pandas = "*"
sklearn = "*"
numpy = "*"
numexpr = "*"
yapf = "*"
autopep8 = "*"
jupyterlab-code-formatter = "*"
plotly = "*"
black = {extras = ["jupyter"], version = "*"}
jupyterlab-notifications = "*"
jupyterlab-git = "*"
jupyterlab-lsp = "*"
pydotplus = "*"
flake8 = "*"
graphviz = "*"
jupyter-server = "==1.16.0"
extrap = "*"
sympy = "*"
typing-extensions = "*"
xlsxwriter = "*"
odswriter = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
